//colores
$color-navbar-bg: #cafacb;
$color-titulos: rgb(255, 255, 255);
$color-white: #fff;
$color-aqua: aqua;
$color-footer-bg: rgba(255, 255, 255, 0.9);
$border-footer: #ccc;
$color-hover: #438444;

//fuentes
$font-poppins: "Poppins", sans-serif;
$font-bahnschrift: "Bahnschrift", serif;

//otros valores
$navbar-height: 60px;
$logo-base-height: 45px;
$spacer-sm: 0.5rem;
$transition-speed: 0.3s;